* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background: #f6f5f7 !important;
}

a {
    cursor: pointer;
}
a:active,
a:hover {
    text-decoration: none;
}
.table {
    font-size: 13px !important;
    border: 1px solid gray !important;
}

.adminDashboard {
    box-shadow: 5px 5px 5px solid gray !important;
}

h1 {
    text-transform: uppercase;
}

.dropright {
    width: 100% !important;
}

.col-2 {
    padding-right: 1px !important;
    padding-left: 0px !important;
    box-shadow: none;
}
.nav .btn {
    border-radius: 0;
}

.nav .btn-group .btn {
    box-shadow: none;
}

.dropdown-menu.show {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    text-transform: uppercase;
}
.dropdown-menu.show a {
    margin-bottom: 10px;
}

.container .mb-5 {
    margin-bottom: 1rem !important;
}

/* FontAwesome */

.fa-arrow-alt-circle-left {
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

label {
    font-weight: bold;
}

footer {
    padding-left: 16% !important;
}

/* Buttons */

.nav .btn {
    margin: 0 !important;
    border-bottom: 1px solid gray !important;
}

.submitBtn {
    padding: 12px;
    border: 2px solid black;
    background-color: white;
    transition: all ease 0.7;
    color: black;
    cursor: pointer;
    display: inline-block;
}

.submitBtn:hover {
    /* border: 2px solid white; */
    background-color: black;
    color: white;
}

#container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.dropdown-menu.show {
    background-color: #333;
    border-radius: 0;
}

.dropdown-menu a {
    color: white;
    font-size: 13px !important;
    display: block;
    padding: 2px !important;
}

.dropdown-menu a:hover {
    background-color: white;
    padding: 2px !important;
    color: black;
}

.table td.roomDescription {
    max-width: 200px !important;
    max-height: 100px !important;
}
.table td.roomDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
}

table.table td {
    padding-bottom: 10px !important;
}

p {
    font-size: 0.9rem !important;
    margin: 0.5em !important;
}

strong {
    font-weight: bold !important;
}

#roomDetails {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
        sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}
.avatar-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: gray;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.avatar {
    margin-top: 2em;
    margin-bottom: 1em;
}
