* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

/* Top Navigation */

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    box-shadow: 7px 7px 7px rgba(90, 88, 88, 0.2);
    /* margin-bottom: 0.9em; */
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Prata", serif;
}

.container h1 {
    margin: 1.5% auto;
}

/* Rooms */
.container {
    display: grid;
    place-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.card {
    margin-top: 2em;
    border: 1.2px solid rgba(90, 88, 88, 0.2);
    max-width: 340px;
}

.card-body {
    padding: 1em;
}

.card-body h2,
p {
    margin: 1em 0;
}

#facilities {
    width: 270px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 25px;
    font-weight: bold;
    color: #ffbd00;
}

/* button */

.moreDetailsBtn {
    font-size: 13px;
    text-transform: uppercase;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: 1.5px solid #ffbd00;
    color: black;
}

.moreDetailsBtn:hover {
    border: 1.5px solid #ffbd00;
    background-color: #ffbd00;
    color: white;
    transition: all 0.1s ease;
}

/* Footer */

.footer {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1%;
}

.contact-footer {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    padding-top: 3%;
}

.logo-name {
    margin-left: 45%;
}

.footer-contact-information {
    margin-left: 10%;
}

.footer-contact-information h3 {
    font-size: 15px;
    color: #ffbd00;
}

.footer-contact-information .fas {
    margin-right: 18px;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-logo-wrapper .cb {
    height: 50px;
    width: 50px;
    border: 1px solid #ffbd00;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    padding-left: 10px;
    margin: 1%;
}

.footer-logo-wrapper .fab {
    color: #ffbd00;
}
.footer-logo-wrapper .cb:hover {
    border: 1px solid white;
}

.footer-logo-wrapper .fab:hover {
    color: white;
}

.footer-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    padding: 1.5em;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 0 3em;

    padding: 2em;
}

.page-item {
    border: 1px solid #ffbd00;
    padding: 0.5em;
    margin: 0.2em;
    cursor: pointer;
    color: #ffbd00;
    background: white;
}
.page-item:hover {
    background: #ffbd00;
    color: white;
}
.page-item a {
    font-weight: bold;
    font-size: 1.1em;
}
.page-item a:hover,
a:active {
    border: none;
    text-decoration: none;
}

.image-container {
    max-width: 700px;
}

/* ROOM SELECTED */

.selected-room-container {
    margin-top: 4em;
    margin-left: 17%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

/* .selected-room-container .image-container {
    margin-left: 20%;
} */

.selected-room-container .image-container h2 {
    margin-top: 5%;
}

.booking-form {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 55%;
    /* border: 1.5px solid rgba(90, 88, 88, 0.2); */
}

.booking-form h3 {
    font-size: 1.5em;
    text-align: center;
}

.booking-form label {
    display: block;
    margin-bottom: 2px;
}

.booking-form .form-control {
    border: 1px solid rgba(90, 88, 88, 0.2);
    margin-bottom: 1em;
    width: 100%;
    padding: 3%;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-information span {
    font-size: 0.9rem;
    color: gray;
}
.contact-social-media .moreDetailsBtn {
    padding: 10px;
}

/* Navigation */
.logo-and-nav-container {
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-nav-container ul li {
    padding: 1em;
}

.logo-and-nav-container a {
    text-transform: uppercase;
    font-size: 0.795em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: gray;
    padding: 2px;
}

.logo-and-nav-container a:hover,
a:active,
a:focus {
    border-bottom: 3px solid #ffbd00;
    transition: all 0.1s ease;
}

/* .footer {
    display: grid;
} */

/* .footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} */

.w3-section {
    position: relative;
}

.mySlides {
    display: none;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    object-fit: cover;
}

.form-container {
    position: absolute;
    top: 10%;
    right: 20%;
    padding: 2%;
    background-color: white;
    border-radius: 1.5%;
    width: 20%;
}

.form-container {
    margin-left: 2%;
    display: flex;
    flex-direction: column;

    /* border: 1.5px solid rgba(90, 88, 88, 0.2); */
}

.form-container h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2%;
}

.form-container label {
    display: block;
    margin-bottom: 2px;
}

.form-container .form-control {
    border: 1px solid rgba(90, 88, 88, 0.2);
    margin-bottom: 1em;
    width: 100%;
    padding: 3%;
}

.form-container .bookingBtn {
    padding: 1em;
    background: white;
    border: 1px solid #ffbd00;
    cursor: pointer;
    text-transform: uppercase;
}

.form-container .bookingBtn:hover {
    background: #ffbd00;
    color: black;
}

/* font awesome */

.fa {
    color: #ffbd00;
}

.fab {
    color: #ffbd00;
    padding-right: 0.5em;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-size: 1.7em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 2px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: gray;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: transparent;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.logoutBtn {
    cursor: pointer;
    border: none;
}

.logoutBtn span {
    padding-left: 17px;

    color: gray;
    font-weight: bold;
    text-transform: uppercase;
}

/* About page */

.about h1 {
    font-size: 1.7em;
    text-align: center;
    margin: 2% 0;
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
}

.about-us .about-us-content {
    text-align: center;
    display: grid;
    place-items: center;
}

.room-special {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
    margin-bottom: 10%;
}
.image-1 {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.image-1 img {
    width: 100%;
    height: 500px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5em;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay .moreDetailsBtn {
    color: white;
    background: transparent;
    border: 1px solid #ffbd00;
    transition: all 0.35s;
}

.image__overlay .moreDetailsBtn {
    position: relative;
    z-index: 2;
}

.image__overlay .moreDetailsBtn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffbd00;
    transition: all 0.35s ease-in-out;
    z-index: -1;
}

.image__overlay .moreDetailsBtn:hover {
    color: #fff;
}

.image__overlay .moreDetailsBtn:hover:after {
    width: 100%;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.navbar hr {
    /* color: rgba(90, 88, 88, 2); */
    margin: 0;
}

hr {
    margin: 5% 2%;
}

.row table {
    grid-column: 2/3;
    padding: 0 20%;

    text-decoration: none;
    list-style-type: none;
}

#textAmber {
    font-weight: bold;
    color: #ffbd00;
}

/* Booking Details Of User */

.booking-details {
    grid-column: 2/3;
    width: 60vw;
}

.booking-details li {
    margin-bottom: 1%;
}

.table-header {
    border-radius: 3px;
    padding: 25px 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    color: white;
}
.table-row {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col .booking-number {
    color: red;
}

.col-1 {
    flex-basis: 16%;
}
.col-2 {
    flex-basis: 17%;
}
.col-3 {
    flex-basis: 16%;
}
.col-4 {
    flex-basis: 16%;
}
.col-5 {
    flex-basis: 16%;
}
.col-6 {
    flex-basis: 16%;
}
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
        no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
} */

/* Contact Page */

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 1em;
}

.contact-message-container {
    display: grid;
    /* flex-direction: column; */
    width: -50%;

    margin-left: 25%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.form-message {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.form-message .fas {
    color: #ffbd00;
    font-size: 25px;
}

.form-message input,
textarea {
    width: 93%;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: center;
}

.form-message input {
    padding: 1.5em;
}

.form-message textarea {
    padding: 0.5em;
}

.form-message .moreDetailsBtn {
    margin: 5% auto;
    display: inline-block;
    align-items: center;
    width: 50%;
}

.contact-us-information {
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.social-contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 0px;
}

.sb {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sb .fas {
    color: #ffbd00;
    font-size: 25px;
    border-color: black;
}

.icons {
    display: grid;
    place-items: center;
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

/* Booking */

.container .user-booking-details {
    margin: 3% auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.user-booking-details {
    border: 1px solid #ffbd00;
}

.user-booking-details hr {
    margin: 1% 2%;
}

.text-danger {
    color: red;
}

.total {
    color: #ffbd00;
    font-weight: bold;
    font-size: 1.5em;
}

/* User Profile */

.profile-container {
    width: 35%;
    padding: 2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-wrapper strong {
    font-weight: bold;
}

.profile-img-name {
    text-align: center;
}

.profile-img-name .user-name {
    font-size: 1.5em;
}

.profile-img-name img {
    display: block;
    margin: 0 auto;

    border-radius: 50%;
}

.user-id {
    font-size: 1em;
}

.profile-form {
    width: 120%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;
    padding: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.profile-form label {
    margin-bottom: 0.5em;
}

.profile-form input {
    margin-bottom: 1em;
    padding: 1em;
}

.profile-form .moreDetailsBtn {
    margin-top: 1em;
}

.profile-button-initiate {
    margin: 7% 0;
}

/* Facility */

.about-user hr {
    width: 100%;
}

.facility {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    text-align: center;
}

.facility p {
    font-size: 1.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 2em;
}

.facility p:hover {
    background: peachpuff;
    color: white;
}

.container .user {
    margin-top: 3em;
}

.col-md-8 {
    grid-column: 2/3;
}

.col-md-8 .card {
    margin-top: 2em;
    width: 100vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
}

.col-md-8 .card .card-header {
    padding: 2em;
    background: url("../images/1597144060.jpg") no-repeat;
    background-size: cover;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
.col-md-8 .card .card-body {
    padding: 1.5em;
}

.col-md-8 .form-control {
    border: 1px solid rgba(90, 88, 88, 0.2);
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    padding: 3%;
}

.offset-md-4 {
    margin-top: 1em;
}

.offset-md-4 .moreDetailsBtn {
    width: 30%;
    margin-right: 1em;
}

.container .timezone-wrapper {
    margin-top: 5em;
    text-align: center;
    background: #f6f5f7;
    width: 100%;
}

.time {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.time div {
    margin: 3em 1em;
}

.antarctica-wrapper div {
    font-size: 2em;
}
